## CH 00. 파이썬 환경설정

### 03-02. Jupyter Lab 실행 및 사용방법

#### Ipython Notebook : ipynb
- cell 단위로 코드를 작성해서 실행하는 에디터
- mode
    - 명령모드(esc) : 셀 수정
    - 편집모드(enter) : 셀 내용 수정
- style
    - Code : 파이썬 문법 실행
    - Markdown : 마크다운(코드설명) 문법 실행
- shortcut : 단축키
    - 코드실행 : shift + enter
    - 셀생성  : esc + a, b
    - 자동완성 : tab

#### 주석 : comment
- 실행되지 않는 코드(문자열)
- 단축키 : ctrl(cmd) + /

In [1]:
# print(10)
print('abc')

abc

## CH 01. 파이썬 문법 요약

### 01-01. 프로그래밍언어의 문법 개념 및 목록

#### 데이터분석 방법
- 엑셀 : 100만개 : 사용편리 : 기능사용제한 O : 속도느림
- 파이썬 : RAM용량 : 사용불편 : 기능사용제한 X : 속도빠름
- 데이터베이스 : SSD(HDD)용량 : 사용불편 : 기능사용제한 조금있음 : 속도빠름

#### 파이썬문법
- 컴퓨터의 CPU, RAM, SSD를 사용하기 위해서
1. 변수선언 : RAM 사용 문법
    - 식별자, 변수선언 3가지 방법
2. 데이터타입 : RAM 효율적 사용 문법
    - int, float, bool, str, list, tuple, dict, set
3. 연산자 : CPU 사용 문법
    - 산술, 비교, 논리, 할당, 멤버
4. 조건문 : 조건에 따라서 코드 실행 문법
    - if, elif, else
5. 반복문 : 특정 코드를 반복적으로 실행 문법
    - while, for, break, continue
6. 함수 : 중복 코드를 묶어서 코드 작성 실행
    - def, args-params, return, dosctring, global, lambda
7. 클래스 : 변수, 함수를 묶어서 코드 작성 실행
    - class, self, special method(생성자메서드)
8. 모듈 : 변수, 함수, 클래스를 파일로 묶어서 코드 작성 실행
    - import, from, as
9. 패키지 : 여러개의 모듈을 디렉토리로 묶어서 코드 작성 실행
    - import, from, as
10. 입출력 : SSD(HDD) 사용 문법
    - pickle

## CH 02. 변수선언

### 02-01. 파이썬을 사용하여 컴퓨터 메모리 사용하는 방법

#### 1. 변수선언
- 메모리에 저장공간을 만들어 데이터를 저장하는 문법
- 식별자 : 저장공간을 구별하는 문자열
- 식별자규칙
    - 문법 : 틀리면 에러발생 O : 대소문자,숫자,_ : 숫자가장앞에X : 명령어X
    - 컨벤션 : 틀려도 에러발생 X : PEP8 : snake_case(O), camelCase(X)

In [2]:
# 식별자 1개, 데이터 1개
data1 = 1

# 식별자 n개, 데이터 n개
data2, data3 = 2, 3

# 식별자 n개, 데이터 1개
data4 = data5 = 4

In [3]:
# special command
# - ipython 지원

# 선언된 변수 출력 : whos
%whos

Variable   Type    Data/Info
----------------------------
data1      int     1
data2      int     2
data3      int     3
data4      int     4
data5      int     4

In [4]:
# print() : 식별자로 식별자에 저장되어 있는 데이터 출력
print(data1, data2, data3, data4, data5)

1 2 3 4 4

In [5]:
# 코드의 마지막줄에 있는 변수는 print 없이 데이터를 출력
# - ipython 기능
print(data1)
data2
data3

1

3

In [7]:
# 선언된 변수 초기화 : reset
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

### 02-02. 다양한 방법으로 변수를 선언하는 문제
- 문제. 손흥민(son) 30골, 메시(messi) 30골 데이터를 변수에 저장
    - 변수를 저장하는 3가지 방법 사용

In [ ]:
# CODE

## CH 03. 데이터타입

### 03-01. 기본 데이터타입과 컬렉션 데이터타입

- 기본 : int, float, bool(True, False), str('',"")
- 컬렉션 : 식별자 1개, 데이터 n개 : list, tuple, dict, set

In [8]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [9]:
%whos

Interactive namespace is empty.

In [10]:
# 기본 데이터타입 변수선언
data1, data2, data3, data4 = -2, 1.5, True, 'python'

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
data1      int      -2
data2      float    1.5
data3      bool     True
data4      str      python

In [12]:
# type() : 식별자의 데이터타입 출력
# 동적타이핑 : 변수선언시 자동으로 데이터타입 설정
# 동적타이핑 사용 X : int data1 = 1 : 컴파일러언어
type(data1), type(data2), type(data3), type(data4)

(int, float, bool, str)

In [13]:
# 데이터타입 형변환
data1, str(data1), type(str(data1))

(-2, '-2', str)

### 03-02. 컬렉션 데이터타입의 CREATE

In [14]:
# 컬렉션 데이터타입
# 식별자 1개, 데이터 n개
# list, tuple, dict, set
# CRUD : create, read, update, delete

In [15]:
# list : [] : 순서가 있고, 수정이 가능
data1 = [1, 2, 3, 'A', 'B']
type(data1), data1

(list, [1, 2, 3, 'A', 'B'])

In [16]:
# tuple : () : 순서가 있고, 수정이 불가능
data2 = (1, 2, 3, 'A', 'B')
# () 생략 가능
data2 = 1, 2, 3, 'A', 'B'
type(data2), data2

(tuple, (1, 2, 3, 'A', 'B'))

In [17]:
# 식별자 n개, 데이터 n개 : tuple은 여러개의 식별자로 데이터를 받을수 있음
d1, d2 = 1, 2
d1, d2

(1, 2)

In [18]:
# dict : {key:value} : 순서가 없고, 수정이 가능, 순서대신 key사용
data3 = {'one': 1, 2: 'two', 3: [1, 2]}
type(data3), data3

(dict, {'one': 1, 2: 'two', 3: [1, 2]})

In [19]:
# set : {}, set() : 집합 데이터타입, 중복 허용 X, 집합연산
data4 = set([1, 2, 3, 2])
type(data4), data4

(set, {1, 2, 3})

In [20]:
# 집합연산 예시
user1 = ['예금', '적금', '보험', '예금']
user2 = ['적금', '보험', '증권']
u1, u2 = set(user1), set(user2)
u1, u2

({'보험', '예금', '적금'}, {'보험', '적금', '증권'})

In [21]:
# 합집합 : |
print(u1 | u2)

# 교집합 : &
print(u1 & u2)

# 차집합 : -
print(u1 - u2)

{'적금', '증권', '예금', '보험'}
{'적금', '보험'}
{'예금'}

### 03-03. 컬렉션 데이터타입의 READ

- masking : data[] : [idx], [start:end], [start:end:stride]
- start 포함 O, end 포함 X
- start 안쓰면 가장 앞, end 안쓰면 가장 뒤
- stride 데이터를 건너 뛰어 선택

In [22]:
data1, data1[3], data1[2:4], data1[:2], data1[3:], data1[::2]

([1, 2, 3, 'A', 'B'], 'A', [3, 'A'], [1, 2], ['A', 'B'], [1, 3, 'B'])

In [23]:
# 음수 사용 가능 : 뒤에서 부터 카운트
data1, data1[-2], data1[-2:], data1[::-1]

([1, 2, 3, 'A', 'B'], 'A', ['A', 'B'], ['B', 'A', 3, 2, 1])

In [24]:
# dict 데이터타입은 idx 대신 key 사용
data3, data3['one']

({'one': 1, 2: 'two', 3: [1, 2]}, 1)

In [25]:
# 문자열에서도 사용가능
data = 'python'
data, data[:2]

('python', 'py')

In [26]:
# 문제. 년도 데이터만 출력되도록 start, end 변수 데이터를 수정
report1, report2 = '사업보고서(2020)', '[기재정정]사업보고서(2021)'
start, end = -5, -1
report1[start:end], report2[start:end]

('2020', '2021')

### 03-04. 컬렉션 데이터타입의 UPDATE, DELETE

- UPDATE
    - 데이터선택 = 수정할데이터

In [27]:
print(data1)
data1[3] = 'C'
data1

[1, 2, 3, 'A', 'B']

[1, 2, 3, 'C', 'B']

In [28]:
# tuple은 수정이 안됨
print(type(data2), data2)

<class 'tuple'> (1, 2, 3, 'A', 'B')

In [29]:
data2[3] = 'C'
data2

TypeError: 'tuple' object does not support item assignment

In [30]:
# tuple 사용 이유
# - 같은 데이터를 저장할때 list 보다 tuple이 저장공간 적게
d1, d2 = [1, 2, 3], (1, 2, 3)
type(d1), type(d2)

(list, tuple)

In [31]:
import sys
sys.getsizeof(d1), sys.getsizeof(d2)

(88, 64)

- DELETE
    - del 데이터선택

In [32]:
print(data1, data1[3:])

[1, 2, 3, 'C', 'B'] ['C', 'B']

In [33]:
del data1[3:]
data1

[1, 2, 3]

### 03-05. 데이터에 따라 적절한 데이터타입을 사용하는 문제
- 문제. 손흥민 30골, 메시 20골, 호날두 10골 컬렉션 데이터타입의 변수 데이터 저장
    - list, tuple, dict 데이터타입을 자유롭게 사용

In [34]:
# CODE

### 03-06. 실수할만한 코드 : 얕은복사와 깊은복사

In [35]:
d1 = [1, 2, 3]
d2 = d1        # 얕은복사 : 주소값 복사
d3 = d1.copy() # 깊은복사 : 데이터 복사
print(d1, d2, d3) # [1, 2, 3], [1, 2, 3]
d1[1] = 4
print(d1, d2, d3) # [1, 2, 3], [1, 4, 3]

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3] [1, 2, 3]

In [36]:
# id() : 변수의 주소값 출력
id(d1), id(d2), id(d3)

(4488865984, 4488865984, 4488861888)

### 03-07. 다양한 데이터를 선언하고 CRUD(create, read, update, delete)하는 문제
- 문제. 아래의 가입 상품을 컬렉션 변수로 선언
    - user1은 예금, 증권, 적금 상품가입
    - user2는 예금, 보험, 적금 상품가입

In [37]:
# CODE

- user2가 두번째로 가입한 상품을 출력

In [38]:
# CODE

- user1이 첫번째로 가입한 상품을 보험으로 변경

In [39]:
# CODE

- user2가 마지막으로 가입한 상품을 삭제

In [40]:
# CODE

## CH 04. 연산자

### 04-01. 연산자의 종류

- 산술 : 데이터 + 데이터 = 데이터 : +, - < *, /, //, % < **
- 비교 : 데이터 + 데이터 = 논리값 : ==, !=, >, <, >=, <=
- 논리 : 논리값 + 논리값 = 논리값 : not, and(T and T = T), or(F or F = F)
- 할당 : 변수에 데이터를 누적해서 연산
- 멤버 : 컬렉션 데이터에서 특정 데이터가 있는지 확인

### 04-02. 산술연산자

In [41]:
d1, d2 = 14, 4
d1 // d2, d1 % d2, 2 ** 3

(3, 2, 8)

In [42]:
# 나이를 연령대로 출력
age = 37
ages = age // 10 * 10
ages

30

### 04-03. 비교연산자
- 비교연산자 : 조건 1개
- 데이터 + 데이터 = 논리값 : ==, !=, >, <, >=, <=

In [43]:
d1, d2 = 14, 4
print(d1, d2)
d1 == d2, d1 != d2

14 4

(False, True)

- ATM 기기 코드 작성
    - 인출가능 True, 인출불가 False 출력
    - 인출 가능 조건 1 : 예금잔고가 인출금액보다 크거나 같은 경우

In [44]:
balance, withdraw = 10000, 12000
balance >= withdraw

False

### 04-04. 논리연산자

- 논리연산자 : 조건 2개 이상
- 비교 : 데이터 + 데이터 = 논리값
- 논리 : 논리값(비교:조건1) + 논리값(비교:조건2) = 논리값
- not : True > False : False > True
- and : T and T = T : 두개의 조건 모두 만족해야 True
- or : F or F = F : 둘중 하나의 조건을 만족하면 True

In [45]:
d1, d2 = 14, 4
print((d1 > 10), (d2 > 10))
(d1 > 10) and (d2 > 10), (d1 > 10) or (d2 > 10)

True False

(False, True)

- ATM 기기 코드 작성
    - 인출가능 True, 인출불가 False 출력
    - 인출 가능 조건 1 : 예금잔고가 인출금액보다 크거나 같은 경우
    - 인출 가능 조건 2 : 인출금액이 5000원 이하인 경우

In [46]:
balance, withdraw = 10000, 6000
(balance >= withdraw) and (withdraw <= 5000)

False

### 04-05. 산술,비교,논리연산자를 이용한 문제
- 윤년구하기
    - 년도를 입력받아 윤년이면 True, 아니면 False 출력
    - 조건 1 : 4년 단위로 윤년 O : 년도에서 4를 나눈 나머지가 0이면 윤년 : True 출력
    - 조건 2 : 100년 단위로 윤년 X
    - 조건 3 : 400년 단위로 윤년 O

In [47]:
year = 2020
(year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

True

In [48]:
# input() : 문자열 데이터를 입력받는 함수
year = input('insert year :')
year = int(year)
print(type(year), year)
(year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

insert year : 2020

<class 'int'> 2020

True

### 04-06. 할당연산자

- 변수에 데이터를 누적해서 연산
- 코드의 가독성이 더 좋아짐

In [49]:
# ATM 기기에서 10000원의 예금잔고에 3000원을 입금
balance = 10000
deposit = 3000
# balance = balance + deposit
balance += deposit
balance

13000

### 04-07. 멤버연산자
- 컬렉션 데이터에서 특정 데이터가 있는지 확인

In [50]:
# user가 보험, 적금, 예금 상품 가입
user = ['보험', '적금', '예금']

# user가 가입한 상품에 증권, 적금 상품이 있는지 확인
print('증권' in user, '적금' in user)

# user가 종신 상품을 가입하지 않았는지 확인
# - 가입이 안되어 있으면 True
'종신' not in user

False True

True

### 04-08. 할당, 멤버 연산자를 이용한 문제

- user1은 1000원, user2는 2000원을 저축한 예금 데이터를 딕셔너리로 선언

In [51]:
# CODE

- user2에 1000원 추가 입금

In [52]:
# CODE

- user1은 예금, 적금, user2는 보험, 적금 딕셔너리로 선언

In [53]:
# CODE

- user1이 '예금' 상품을 가입하였는지 True, False로 확인

In [54]:
# CODE